/* --- General --- */
  html, body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
  }

/* --- Navigation --- */
  #desktopNav {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  #desktopNav .nav-logo-hidden {
    display: none;
  }

  #desktopNav ul {
    display: block;
    position: absolute;
    float: right;
    right: 1.5rem;
  }

  #desktopNav ul > li {
    display: inline-block;
    list-style-type: none;
    line-height: 60px;
    margin-left: 1.5rem;
  }

  #desktopNav li a {
    color: #FFF;
    text-decoration: none;
  }


/* --- Header Banner Desktop --- */
  #header-banner {
    /* background: url('../img/headerBannerUmkehrung.png') no-repeat; */
    /* colorful versions: linear-gradient(#ff5f0a, #d13531) | linear-gradient(#093bff, #08a500) */
    background-size: contain;
    padding-top: 56.25%;
    margin: 0 -16px;
  }

  .blue-green {
    background: url('../img/Logo_Test_V1_Umkehrung.png') no-repeat, linear-gradient(#093bff, #08a500);
  }

  .red-orange {
    background: url('../img/Logo_Test_V1_Umkehrung.png') no-repeat, linear-gradient(#ff5f0a, #d13531);
  }

/* --- Style Section --- */
  #style-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .cap {
    text-align: center;
    margin-bottom: 0;
  }

  .cap-underline {
    border: 0.5px solid #000;
    width: 50px;
    margin-bottom: 40px;
  }

  .product-pic {
    margin: 0;
  }

  .product-pic img {
    margin-left: 25px;
    margin-top: 25px;
  }

  .product-txt {
    margin: 0 25px;
    line-height: 3rem;
    text-align: center;
  }

  .product-txt a {
    text-decoration: none;
    color: #000;
  }

/* --- Footer --- */
  #footer-section {
    padding-bottom: 40px;
  }

  .footer-row {
    text-align: center;
  }

  .footer-row h4 {
    margin-bottom: 30px;
  }

  .footer-row ul {
    padding: 0px;
  }

  .footer-row li {
    list-style-type: none;
    margin: 4px 0;
  }

  #copyright {
    text-align: center;
    margin-top: 60px;
  }


  /* --- Shop --- */
    #shop {
      margin-top: 0px;
    }
