/* --- General --- */
html, body {
  font-family: 'Varela Round', sans-serif;
}

/* --- Navigation --- */
#desktopNav {
  width: 100%;
  height: 60px;
}

#desktopNav ul {
  display: block;
}

#desktopNav li {

}
