/* --- General --- */
html, body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}

/* --- Navigation --- */
#desktopNav {
  height: 60px;
  background-color: lightgreen;
}

#desktopNav .nav-logo-hidden {
  display: none;
}

#desktopNav ul {
  display: block;
  position: absolute;
  float: right;
  right: 1.5rem;
}

#desktopNav ul > li {
  list-style-type: none;
  line-height: 60px;
  margin-left: 1.5rem;
}

#desktopNav li a {
  color: #000;
  text-decoration: none;
}
